PORT=8001
MONGODB_URI=mongodb://database:27017/lenguista
JWT_SECRET=secret_jwt_key_here

# Google Drive / OAuth2
GOOGLE_DRIVE_FOLDER_ID=google_drive_folder_id_here
GOOGLE_CLIENT_ID=google_client_id_here
GOOGLE_CLIENT_SECRET=google_client_secret_here
GOOGLE_REDIRECT_URI=https://developers.google.com/oauthplayground
GOOGLE_REFRESH_TOKEN=google_refresh_token_here
